extends layout

block content
 h1= title
 - let Star = results;
 div(class="container-fluid")
  div(class="row m-1")
   each item in Star
      - let destination = `dispatch(\"/Star/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Item #{item.Star_color}(#{item.Starlight}) is #{item.Startemperature}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      
 script.
  function dispatch(path){
    window.location.href=path
  }